<h1>Multiplication</h1>

<form action="/wizard_multiply">
  <label for="multiply_field_1">Multiply this:</label>
  <input type="text" id="multiply_field_1" name="first_num">

  <label for="multiply_field_2">by this:</label>
  <input type="text" id="multiply_field_2" name="second_num">

  <button>Multiply!</button>
</form>
